<header>
    <img src="assets/header-image.png" alt="Cyber Artwork Logo">
    <div class="heads">
        <h1 class="Tittle "data-text="CYBER ARTWORK">CYBER ARTWORK</h1>
        <p>{{headerSubText}}</p>        
    </div>
    <div class="Buttons">
    @if (!user) {
        <button class="loginButton" (click)="onAddUser()">Loging Usuario</button>
    }
    @if (user) {
        <button class="logoutButton" (click)="onLogout()">Logout</button>
    }
    @if (user && user.is_admin) {
        <button class="addArtworkButton" (click)="onAddArtwork()">Añadir Arte</button>
    }
    </div>
</header>
@if (isLoginUser) {
    <app-user-login (cancelLogin)="onCancelAdding()" (successfulLogin)="onLogged()"/>
}
@if (isAddingArtwork) {
    <app-new-artwork (cancelAddArtwork)="onCancelAdding()"/>
}
