<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Nuevo Usuario</h2>
  <form (ngSubmit)="addUser({ name: nameInput.value, surname: surnameInput.value, email: emailInput.value, password: passwordInput.value })">
    <p>
      <label for="name">Nombre</label>
      <input #nameInput type="text" id="name" name="name" [(ngModel)]="enteredName" required />
    </p>

    <p>
      <label for="surname">Apellidos</label>
      <input #surnameInput type="text" id="surname" name="surname" [(ngModel)]="enteredSurname" required />
    </p>

    <p>
      <label for="email">Email</label>
      <input #emailInput type="email" id="email" name="email" [(ngModel)]="enteredEmail" required />
    </p>

    <p>
      <label for="password">Contraseña</label>
      <input #passwordInput type="password" id="password" name="password" [(ngModel)]="enteredPassword" required />
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancelar</button>
      <button type="submit">Crear</button>
    </p>
  </form>
</dialog>
